.container {
    display: flex;
    max-width: 85%;
    margin: 20px auto;
    border: 2px solid black;
    padding: 12px;
    justify-content: space-evenly;
}

.top_btn {

    display: flex;
    gap: 32px;
}

.contact_form {
    display: flex;
    flex-direction: column;
    gap: 23px;
}

.form_control {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    margin: 20px 0;
}

.form_control label {
    position: absolute;
    top: -12px;
    left: 10px;
    background-color: white;
    padding: 0 10px;
}

.form_control input {
    border: 2px solid black;
    border-radius: 3px;
    padding: 2px 8px;
    height: 35px;
}

.form_control textarea {
    border: 2px solid black;
    padding: 8px;
    border-radius: 3px;
    height: 100px;
}

.contact_image {
    border: 3px solid black;
    width: 30vw;
    max-height: 523px;
    overflow: hidden;
    border-radius: 9px;
}

.contact_image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}